@keyframes widthTo100 {
    0% {
        width: 0%;
        bottom: 0;
    }

    55% {
        width: 100%;
        bottom: 0;
    }

    100% {
        width: 100%;
        bottom: 20%;
    }
}


.anim-widthTo100 {
    animation-name: widthTo100;
    animation-duration: 0.9s;
    animation-fill-mode: forwards;
}