$main: #FF6000;
$light: #F5F5F5;
$lightShade: #9B9489;
$dark: #252629;
$darkShade: #BB7557;

.clr-main {
    color: $main;
}

.clr-light {
    color: $light;
}

.clr-lightShade {
    color: $lightShade;
}

.clr-dark {
    color: $dark;
}

.clr-darkShade {
    color: $darkShade;
}